doctype html 
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CSS GRID R. FORD
        link(rel="icon" href="./favicon.ico" type="image/ico")
        link(rel="stylesheet", href="./styles.css")
        //- link(rel="icon" href="favicon.png" type="image/png")
        
    body
        .loader 
            .d1 
            .d2 
            .d3 
            .d4 
            .d5 
        .mainpage(style='display:none;')
            .container 
                .griditem.box1#bg-nsfw 
                        input(type="text") 
                    
                .griditem.box2#bg-nsfw  
                    img(id="catface" src="./pictures/free-icon-cat-face-10628180.png", alt="catface", srcset="")
                .griditem.box3#bg-nsfw  3 
                .griditem.box4#bg-nsfw  4
                .griditem.box5#bg-nsfw  5 Tempora fuga sunt at molestiae. Placeat dolorum molestias voluptate nam blanditiis optio tempore tenetur non. Consequatur cum aliquid at dolores neque consectetur numquam? Ratione, ipsam odit. Eaque natus dolores enim soluta sit.
                .griditem.box6#bg-nsfw  6
            hr
            h2 GRID TEMPLATE AREAS 

            .gridareas 
            .header(data-scroll="s-1").gridborders 
                p USS Gerald R. Ford (CVN-78) is an aircraft carrier for the United States Navy and the lead ship of her class. The ship is named after the 38th President of the United States, Gerald Ford, whose World War II naval service included combat duty aboard the light aircraft carrier Monterey in the Pacific Theater.
                .header-box
                button(class='b-1') random number from 0 to 100 

            .content.gridborders 
                h3 КОНТЕНТ
                .imgfield
                    h2 Image Practise 

                    table(border="5")
                        thead
                         tr
                            th ID
                            th Name
                            th.position-column Position
                            th Salary
                        tbody
                            tr
                                td 1
                                td John Doe
                                td Developer
                                td $60,000
                            tr(scope='row')
                                td 2
                                td Jane Smith
                                td Designer
                                td $55,000
                            tr
                                td 3
                                td Mike Johnson
                                td Manager
                                td $70,000
                   
                .imgbox(data-scroll="s-2")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, aliquid ipsum. Consectetur quae neque tenetur, placeat ipsum reiciendis labore, veritatis blanditiis, molestias fuga impedit quibusdam? Quam perferendis, repellat voluptas saepe animi natus sit vero consectetur culpa voluptatum inventore commodi, quo excepturi consequuntur temporibus aliquid mollitia! Totam, omnis, placeat odit non est magnam vel iste aspernatur voluptates voluptatibus expedita voluptatum harum quaerat numquam voluptate ut blanditiis in. Unde quae fugiat recusandae veritatis minima assumenda, earum tenetur tempora eius. Sapiente accusantium beatae explicabo ratione tempore, aspernatur nemo recusandae omnis quia ipsum rem eveniet! Inventore veritatis quis cum illo eum debitis veniam iusto, in, illum, cumque eos! Dolore vel ducimus numquam. Voluptatibus repudiandae obcaecati, distinctio repellat exercitationem suscipit eligendi libero, veritatis culpa nam doloremque optio omnis dolore nobis. Voluptate, asperiores, ab obcaecati ea tempora alias, maxime minima corrupti saepe harum nobis natus voluptatibus consectetur non eius id ullam? Itaque accusamus ea impedit quae molestias. Obcaecati ipsum maxime alias fuga, molestias excepturi, dolor incidunt sed at illo ipsam, nemo minima modi inventore? Possimus voluptatum incidunt unde sed perspiciatis minima aliquid autem aliquam maiores sint, itaque rerum iure officiis quis ex nam, natus modi veritatis quos harum. Officiis dolore animi pariatur distinctio assumenda facilis ipsa.
                
            .sidebar.gridborders 
                .sidemenu 
                    h3 МЕНЮ
                    button.nsfw NSFW
                    br
                    br
                    h3 Press the switcher to activate NIGHTMODE &#127769
                    .switcher
                        input(type="checkbox", name="", class="sw")
                    ul 
                        li Текст 1
                        li Текст 2
                        li Текст 3
                        li Текст 4

                    br
                    hr
                    h3 Press numbers for navigation in sections.
                    
                    ul 
                        li 1 — Header
                        li 2 — Image brands
                        li 3 — Footer
                    hr

            .footer(data-scroll="s-3").gridborders
                //- h3 FOOTER 
                .about 
                    .name-info 
                        h3 FOOTER 
                    .company-info
                    .other-info 
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi quidem libero rerum ab eius voluptates dolorum cum repellat est voluptas iusto, consectetur quae atque, eligendi labore culpa magni ex provident error tenetur natus impedit exercitationem. Odio maxime a nesciunt error, libero id necessitatibus! Aliquid repudiandae ipsam saepe veritatis laboriosam. Id accusantium harum, voluptate ipsum quas itaque fuga provident veniam delectus sit expedita obcaecati ducimus voluptates! Laboriosam aliquam esse exercitationem quisquam vero et nihil 
        script(src="./images.js") 
        script(src="./script.js") 
       
