body {
    background: rgb(241, 241, 241);

}

.container {
    display: grid;

    /* grid-template-columns: 4fr 1fr; */
    /* auto auto 
    minmax(100px;100px  */
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 2fr 4fr;
    /* выравнивает по горизонтали */
    /* justify-items: center; */
    /* выравниваеи по вертикали */
    /* align-items: center; */
}

h2 {
    text-align: center;
}

.griditem {
    border: 5px dotted red;
    margin: 10px;
    text-align: center;
}

.box1 {
    background: rgba(180, 224, 83, 0.5);
    /* grid-row-start: span 1;
    grid-column: span 2; */
    width: 20%;
}

.box3 {
    color: rgb(255, 238, 0);
    background-color: rgb(205, 50, 97);
    border: 3px solid springgreen;
}

.box4 {
    background: rgb(189, 130, 11);
    color: rgb(250, 19, 19);
    font-weight: bolder;
    /* width: 50px; */
}

.box6 {
    display: flex;
    background-color: yellowgreen;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(255, 0, 0);
    font-size: larger;

}

hr {
    color: rgb(240, 21, 21);
    height: 6px;
    background: black;
}

.gridareas {
    display: grid;
    /* grid-template: fitcontent / 90% 10%; */
    grid-template-columns: 90% 10%;
    grid-template-rows: fitcontent;
    grid-template-areas: "header header"
        "content sidebar"
        "footer footer";
    row-gap: 3%;
    column-gap: 0%;
    margin: 20px 30px 20px 30px;
    /* background: rgba(180, 224, 83, 0.5); */


}

.gridborders {
    border: 1px solid rgba(59, 122, 73, 0.5);
    margin: 3px;
    border-radius: 10px;

    /* margin-right: 2%; */
}

.header {
    grid-area: header;
    text-align: center;
    font-size: larger;
    background: rgba(32, 119, 29, 0.5);
    color: white;
    font-weight: bolder;
}

.b-1 {
    background: springgreen;
    width: 90px;
}

.b-1:hover {
    opacity: 0.9;
    cursor: pointer;
}

.content {
    grid-area: content;
    text-align: center;
    font-size: larger;
    background: rgba(219, 255, 219, 0.5);
    color: rgb(49, 82, 0);
    justify-content: space-between;

}

p {
    margin: 5px 5px 10px 5px;
}

.imgfield {

    margin: 3px;
    /* background: rgb(241, 167, 55); */
    text-align: justify;
}

.imgbox {

    border: 3 px solid white;


    display: flex;
    justify-content: space-around;
    margin: 15px 0px 15px 0px;
    /* align-items: center; */

}

.logo-decor {
    /* border: 3px solid white; */
    box-shadow: 0 0 9px rgba(0, 0, 0, 1);
}

.logo-decor:hover {
    opacity: 0.8;
    cursor: help;
}

/* .logo-decor:after {
    box-shadow: 0 0 10px rgba(250, 0, 0, 10);
} */

.active {
    box-shadow: 0 0 30px rgba(32, 119, 29, 1);
}

.sidebar {
    grid-area: sidebar;
    text-align: center;
    font-size: 10px;
    /* margin: auto; */
    /* width: 120px; */
    /* background: rgba(32, 119, 29, 0.5); */
    background: linear-gradient(80deg, rgba(32, 119, 29, 0.5) 50%, rgb(20, 233, 126) 100%);
    border: 1px solid rgb(9, 206, 104);


    color: white;
    font-weight: bolder;
    justify-content: space-between;

}



ul {
    /* list-style: none; */
    /* padding: 0px; */
    text-align: left;
    font-size: larger;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    list-style: square;
    text-align: left;
    padding-left: 0px;
    padding: 5px 0px 5px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


.footer {
    grid-area: footer;
    text-align: center;
    font-size: larger;
    margin-bottom: 5.5%;
    background: rgba(32, 119, 29, 0.5);
    color: white;
    font-weight: bolder;
}

.about {

    margin-top: 22.4px;
    margin-bottom: 22.4px;
}

a {
    color: white;
}


@media (max-width:900px) {
    .gridareas {
        display: grid;
        /* grid-template: fitcontent / 90% 10%; */
        grid-template-columns: 100%;
        grid-template-rows: fitcontent;
        grid-template-areas: "header"
            "sidebar"
            "content"
            "footer";
        row-gap: 0.5%;
        column-gap: 0%;
        margin: 20px 0px 20px 0px;
        /* background: rgba(180, 224, 83, 0.5); */


    }

    .header {
        max-height: 80px;

    }

    h3 {
        margin: 5px 0px 5px 0px;
        font-size: smaller;

    }

    .b-1 {
        margin-bottom: 10px;
    }


    .imgbox {

        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    img {
        width: auto;
        height: 50px;
    }

    .sidebar {

        max-height: fit-content;


    }

    ul {
        font-size: larger;
        list-style-type: none;
        margin: 0;
        margin-left: 15px;
        margin-top: 15px;
        padding: 0;
        display: flex;
        justify-content: center;

    }

    li {
        /* position: relative; */
        margin-left: 22px;
        margin-right: 10px;
        padding-top: 0px;
        /* padding-left: 1px; */
        list-style-position: outside;
        list-style: none;
    }





}